<!-- Navbar with Hamburger -->
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fas fa-wallet"></i> SmartSpender
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-button" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-button" routerLink="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Main content -->
  <div class="home-content text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="animate__animated animate__fadeInDown mb-4">
      Welcome to <span class="brand-text">SmartSpender</span>
    </h1>
    <p class="lead animate__animated animate__fadeInUp mb-5">
      Manage your money smartly.

      Spend wisely. 

      Save efficiently.
    </p>
  
  </div>
  